# Copy this file and store it as ".env" and fill in the required environment variables.

DATA_DIR=./datastorage
LIDAR_DIR=LiDAR
WAIKATO_DIR=LiDAR_Waikato
CATCHMENT_DIR=HydroDEM

LAND_FILE=Land/51153.geojson
INSTRUCTIONS_FILE=NewZeaLiDAR/config/instructions.json

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5436
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

LINZ_API_KEY=<YOUR KEY>
MFE_API_KEY=<YOUR KEY>

SQLALCHEMY_SILENCE_UBER_WARNING=1
DASK_DISTRIBUTED__ADMIN__TICK__LIMIT=3h

GDAL_DRIVER_PATH=/opt/conda/lib/gdalplugins
PROJ_LIB=/opt/conda/share/proj
GDAL_DATA=/opt/conda/share/gdal
